.footer {
  margin-top: 20px;
  padding-top: 10px;
  background-color: #d6d9de !important;
  font-family: 'Playfair Display', serif;
  .introduce {
    .ulIntro {
      list-style-type: none;

      li {
        line-height: 35px;
        margin-left: 5px;
      }
    }
  }
  .service {
    .ulService {
      list-style-type: none;
      li {
        line-height: 35px;
        margin-left: 5px;
        a {
          color: #775466;
          text-decoration: none;
          &:hover {
            color: rosybrown;
          }
        }
      }
    }
  }
  .info {
    .ulInfo {
      list-style-type: none;
      inset-inline-end: 30px;
      li {
        line-height: 35px;
        margin-left: 5px;
      }
    }
  }
}
// .belowFooter {
//   text-align: center;
//   background-color: #e1e1e1;
//   font-family: 'Playfair Display', serif;
// }
