.footer {
  margin-top: 20px;
  padding-top: 10px;
  background-color: #fafafa;
  display: flex;
  font-family: "Playfair Display", serif;
  flex-wrap: wrap;
  .introduce {
    width: 45%;
    .ulIntro {
      list-style-type: none;
      li {
        line-height: 35px;
        margin-left: 5px;
      }
    }
  }
  .service {
    width: 30%;
    .ulService {
      list-style-type: none;
      li {
        line-height: 35px;
        margin-left: 5px;
        a {
          color: black;
          text-decoration: none;
          &:hover {
            color: rosybrown;
          }
        }
      }
    }
  }
  .info {
    width: 20%;
    // padding-left: 8%;
    margin-left: 10px;
    .ulInfo {
      list-style-type: none;
      inset-inline-end: 30px;
      li {
        line-height: 35px;
        margin-left: 5px;
      }
    }
  }
  @media only screen and (max-width: 1000px) {
    .introduce,
    .service,
    .info {
      width: 100%;
      margin-left: 0;
    }
  }
}
.belowFooter {
  text-align: center;
  background-color: #e1e1e1;
  font-family: "Playfair Display", serif;
}
