.footer {
  margin-top: 20px;
  padding-top: 10px;
  background-color: #fafafa;
  display: flex;
  font-family: "Playfair Display", serif;
  .introduce {
    width: 35%;

    .ulIntro {
      list-style-type: none;
      li {
        line-height: 35px;
        margin-left: 5px;
      }
    }
  }
  .service {
    width: 35%;
    position: relative;
    .ulService {
      list-style-type: none;
      position: absolute;

      inset-inline-end: 50px;
      li {
        line-height: 35px;
        margin-left: 5px;
        a {
          color: black;
          text-decoration: none;
          &:hover {
            color: rosybrown;
          }
        }
      }
    }
  }
  .info {
    width: 30%;
    position: relative;
    .ulInfo {
      list-style-type: none;
      position: absolute;
      inset-inline-end: 30px;
      li {
        line-height: 35px;
        margin-left: 5px;
      }
    }
  }
}
