.title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  margin-top: 50px;
  font-size: 30px;
}
.intro {
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  flex-wrap: wrap;
  .introImg {
    width: 50%;
    .image {
      width: 100%;
      height: 60vh;
      border-radius: 10px;
      transition: box-shadow 0.3s;
      &:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      }
    }
  }
  .introText {
    width: 50%;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-family: 'Playfair Display', serif;
  }
  @media only screen and (max-width: 1050px) {
    .introImg {
      width: 100%;
      margin-left: 0;
      .image {
        height: auto;
      }
    }
    .introText {
      width: 100%;
      margin-top: 15px;
      margin-left: 0;
    }
  }
  @media only screen and (max-width: 600px) {
    .introImg {
      width: 100%;
      margin-left: 0;
      .image {
        height: auto;
      }
    }
  }
  @media only screen and (max-width: 400px) {
    .introImg {
      width: 100%;
      margin-left: 0;
      .image {
        height: auto;
      }
    }
    .introText {
      font-size: 15px;
    }
  }
  @media only screen and (max-width: 250px) {
    .introImg {
      width: 100%;
      margin-left: 0;
      .image {
        height: auto;
      }
    }
  }
}
