.logoBranch {
  max-width: 7%;
  height: auto;
  .logo {
    width: 100%;
    display: block;
  }
}
.textMenu {
  padding: 0px 90px;
  .textOne {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 700;
    margin-left: 25px;
    .image {
      width: 22%;
      background-color: #fafafa;
    }
    .img {
      width: 20%;
      height: 4vh;
    }
  }
}
.search {
  width: 35%;
  margin-top: 5px;
  position: relative;
  .searchBar {
    width: 100%;
  }
  .image {
    position: absolute;
    width: 6%;
    right: 20px;
    top: 6px;
  }
}
